.stagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.stageContainer {
  width: 50%;
  position: relative;
  max-width: 400px;
  border: 1px solid black;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #000;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 75%;
  font-size: 90px;
}

.stageImage {
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
